# Ignore environment variables & private keys
.env

# Ignore dependencies (these can be installed via package.json)
node_modules/

# Ignore build files
.next/
build/
dist/

# Ignore log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore system files
.DS_StoreCreova_Backup.zip
Creova_Backup.zip
frontend/.next/cache/
Creova_Backup.zip
frontend/.next/cache/
Creova_Backup.zip
frontend/.next/cache/
.qodo
.env
