# Environment variables & private keys
.env

# Node dependencies
node_modules/

# Build output
.next/
build/
dist/
frontend/.next/
frontend/.next/cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Creova_Backup.zip
.qodo

# Vercel local settings
.vercel