.roadmap {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
  }
  
  .roadmap-content h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .timeline-item {
    background-color: #fff;
    padding: 30px;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .timeline-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-item h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .timeline-item p {
    font-size: 1rem;
    color: #555;
  }